/* style.css */
body { margin: 0; padding: 0; overflow: hidden; }

/* The instruction HUD */
.ui-overlay {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  color: white;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  pointer-events: none;
}